// colors
$colorPrimary:  #1665D8;
$colorSecondary: #FACF55;
$colorTertiary:  #6758F3;
$colorSuccess: #34AA44;
$colorWarning: #F6AB2F;
$colorDanger: #E6492D;
$colorTextPrimary: #3E3F42;
$colorTextSecondary: #6B6C6F;
$colorTextTertiary: #BCBCBC;
$colorIcon: #9EA0A5;
$colorStroke: #D8DCE6;
$colorBackground: #FBFBFD;